html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
table,
tr,
td,
thead,
th {
  border: 1px solid;
}
/* and design */
.ant-pagination-item-active a {
  color: var(--chakra-colors-white) !important;
}
.ant-pagination-item-active {
  border-color: var(--chakra-colors-white) !important;
}
.ant-pagination-item:hover a {
  color: var(--chakra-colors-white) !important;
}
